#Genereted with https://config.gab-3d.com/
#
# https://config.gab-3d.com/share/f2afaae1-5627-4320-a1ee-74a81fbca2f3

[gcode_macro PRINT_START]
gcode:
  {% set EXTRUDER = params.EXTRUDER_TEMP|int %}
  {% set BED = params.BED_TEMP|int %}
  _CHOME  ;Home all axes if not homed
  M104 S{EXTRUDER}  ;Set extruder temperature
  M140 S{BED}  ;Set bed temperature
  _WAIT TIME=60  ;Wait x seconds
  G92 E0   ;Reset extruder
  _PURGE_LINE  ;Front Purge

[gcode_macro PRINT_END]
gcode:
  _MOVE_AWAY  ;Move away from print
  M84  ;Disable motors
  TURN_OFF_HEATERS  ;Turn off heaters

[gcode_macro _CHOME]
gcode:
  {% if printer["gcode_macro status_homing"] != null %}
    status_homing
  {% endif %}
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28
  {% endif %}
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}
[gcode_macro _WAIT]
gcode:
    {% set TIME = params.TIME|default(0)|int %}
    G4 P{TIME*1000}

[gcode_macro _PURGE_LINE]
gcode:
  {% if printer["gcode_macro status_cleaning"] != null %}
    status_cleaning
  {% endif %}
  SAVE_GCODE_STATE NAME=Pre_Prime
        
  G90
  G92 E0 ;Reset Extruder

  G1 Z10.0 F3000 ;Move Z Axis up
  G1 X0 Y0;
  G1 E10.0 F1800
  G1 Z0.28 F5000.0 ;Move to start position
  G1 X220 Y0 Z0.28 F1500.0 E30 ;Draw the first line
  G92 E0 ;Reset Extruder
  G1 Z10 F3000 ;Move Z Axis up
  RESTORE_GCODE_STATE NAME=Pre_Prime

  {% if printer["gcode_macro status_printing"] != null %}
    status_printing
  {% endif %}


[gcode_macro _MOVE_AWAY]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
      
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing

